// .page-enter-active,
// .page-leave-active {
//   transition: opacity 0.25s ease, transform .25s ease;
// }
// .page-enter,
// .page-leave-active {
//   opacity: 0;
//   // transform: translateX(-2rem);
// }

.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  // transform: rotateY(90deg);
  transform: translateX(-1rem);
}