i {
  font-size: 1.5rem;
}

.nyan-player {
  font-size: 16px;
  --min-size: 6rem;
  --minilize-btn-width: 1.25rem;
  --minilize-btn-color: hsla(200, 80%, 20%, 1);
  --minilize-btn-bg: hsla(0, 0%, 95%, 1);
  --max-height-playlist: 16rem;
  // --animation-expand: .25s cubic-bezier(0.075, 0.82, 0.165, 1);
  --animation-expand: .2s ease;
  position: fixed;
  left: 0;
  bottom: 0%;
  border-radius: 0 0 8px 0;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .07), 0 1px 5px 0 rgba(0, 0, 0, .1);
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 400px;
  width: 100%;
  height: var(--min-size);
  transition: var(--animation-expand);
  padding-right: var(--minilize-btn-width);
  z-index: 255;

  &.nyan-player-mini {
    width: calc(var(--min-size) + var(--minilize-btn-width));

    .nyan-player__status {
      transform: scaleX(0);
    }
  }

  &.nyan-player-auto-hidden {
    transform: translateX(calc(-100% + var(--minilize-btn-width)));

    &:hover {
      transform: translateX(0);
    }
  }
  &.nyan-player--playlist-hidden {
    .nyan-player__playlist {
      transform: scaleY(0);
    }
    .nyan-player__mini-switch {
      border-radius: 0 8px 8px 0;
    }
    border-radius: 0 8px 8px 0;
  }

  .nyan-player__playlist {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    max-height: var(--max-height-playlist);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    transform-origin: 100% 100%;
    transition: var(--animation-expand);
    border-radius: 4px 4px 0 0;

    &::-webkit-scrollbar {
      width: 0.25rem;
      height: 0.25rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: .125rem;
      background: linear-gradient(45deg, #b980ae, #b980ae);
    }

    &::-webkit-scrollbar-thumb:hover {
      filter: brightness(1.2);
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }


    li {
      position: relative;
      padding: 0 .5rem 0 .25rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: .875rem;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 2rem;
      transition: .25s ease;
      display: flex;

      // border-bottom: 1px solid hsla(0, 0%, 95%, 1);
      &:nth-of-type(2n-1) {
        background-color: hsla(220, 20%, 97.5%, 1);
      }

      &:hover {
        background-color: #eee;
        cursor: pointer;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0;
        opacity: 0;
        background-color: hsla(200, 40%, 60%, 1);
        transition: .25s ease;
      }

      &.active::before {
        width: .25rem;
        opacity: 1;
      }

      .playlist-number {
        font-weight: lighter;
        font-size: .75rem;
        width: 2rem;
        text-align: center;
        color: hsla(0, 0%, 50%, 1);
      }

      .playlist-name {
        color: hsla(0, 0%, 20%, 1);
        flex: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .playlist-artist {
        color: hsla(0, 0%, 50%, 1);
        max-width: 8rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.nyan-player__audio {
  display: none;
}


.nyan-player__status-title {
  font-size: .875rem;
  max-width: 16rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  .nyan-player__status-artist {
    color: hsla(0, 0%, 50%, 1);
    font-size: .75rem;
    margin-left: .5rem;
  }
}

.nyan-player__mini-switch {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 8px 0;
  width: var(--minilize-btn-width);
  color: var(--minilize-btn-color);
  background: var(--minilize-btn-bg);
  user-select: none;
  cursor: pointer;

  i {
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nyan-player__cover {
  position: relative;
  transition: .25s ease;
  cursor: pointer;
  user-select: none;

  &[data-playing=false] {
    .nyan-player__cover-control {
      top: 50%;
      left: 50%;
      color: hsla(0, 0%, 100%, .9);
      transform: translate(-50%, -50%);
      font-size: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &:hover .nyan-player__cover-control {
    color: hsla(0, 0%, 95%, 1);
  }

  .nyan-player__cover-control {
    position: absolute;
    top: 0;
    left: 0;
    color: hsla(0, 0%, 100%, .5);
    transition: .25s ease;

  }

  img {
    width: var(--min-size);
    height: var(--min-size);
    object-fit: cover;
  }
}

.nyan-player__status {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: var(--min-size);
  transform-origin: 0 0;
  transition: var(--animation-expand);
  padding: .5rem .5rem 0 .75rem;

  .nyan-player__controlbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    flex: 1;

    i {
      padding: 0 .25rem;
      cursor: pointer;
    }

    .controlbar-left {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .controlbar-right {
      display: flex;
      align-items: center;

      i {
        color: hsla(0, 0%, 25%, 1);
        font-size: 1rem;

        &:hover {
          color: hsla(200, 80%, 20%, 1);
        }
      }
    }
  }
}

.nyan-player__volume-control {
  position: relative;
  display: flex;
  align-items: center;

  &:hover,
  &:active {
    .volume-slider {
      opacity: 1;
      pointer-events: all;
      transition: var(--animation-expand);
    }
  }

  .volume-slider {
    position: absolute;
    width: 1.5rem;
    height: 6rem;
    left: 50%;
    bottom: calc(100% + .5rem);
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    background-color: hsla(0, 0%, 95%, .95);
    box-shadow: 0 0 4px hsla(0, 0%, 75%, .9);
    z-index: 512;
    opacity: 0;
    pointer-events: none;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      border-style: solid;
      border-width: .5rem .5rem 0 .5rem;
      border-color: hsla(0, 0%, 95%, .95) transparent transparent transparent;
    }
  }
}

.nyan-player__timer {
  text-align: right;
  font-size: .75rem;
  color: hsla(0, 80%, 0%, 1);
}

.nyan-player__progress {
  display: flex;
  align-items: center;
  width: 100%;

  .nyan-player__slider {
    flex: 1;
  }

  .nyan-player__bar {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: var(--progress);
      height: 2px;
      background-color: hsla(200, 40%, 80%, 1);
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 1px;
      background-color: hsla(200, 40%, 80%, 1);
    }
  }

  .nyan-player__timer {
    color: hsla(0, 0%, 50%, 1);
    padding-left: .5rem;
  }
}